Django~=3.2.*
environs[django]==9.3.*
phonenumberslite==8.13.*
django-phonenumber-field==7.1.*
requests==2.31.*
pillow==10.0.*
django-object-actions==4.1.*
django-admin-rangefilter==0.10.*
stripe==6.0.*