<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Flower Shop - Каталог{% endblock %}</title>
	{% block content %}
	<section id="catalog">
		<div class="container p100">
			<div class="catalog">
				<div class="title">Все букеты</div>
				<div class="catalog__block">
					<form class="recommended__elems ficb recommended__elems_first" style="flex-wrap: wrap; justify-content: left !important;" method="post" action="{% url 'card' %}">
						{% csrf_token %}
						{% for bouquet in bouquets %}
						<div class="recommended__block" style="flex-direction: column !important;">
							<button value="{{ bouquet.pk }}" name="select_bouquet"
									style="background: url({{ bouquet.image.url }}) no-repeat center bottom / cover; width: 100%; height: 100%; border: 0px;">
							</button>
								<div class="recommended__block_elems ficb">
									<span class="recommended__block_intro">{{ bouquet.name }}</span>
									<span class="recommended__block_price">{{ bouquet.price }} руб</span>
								</div>
						</div>
						{% endfor %}
					</form>
					<button class="btn largeBtn catalog__btn" id="showMoreBtn">Показать ещё</button>

					<script>
					document.addEventListener("DOMContentLoaded", function() {
						const showMoreBtn = document.getElementById("showMoreBtn");
						const bouquets = document.querySelectorAll(".recommended__block");
						let visibleBouquets = 3;

						function updateVisibility() {
							bouquets.forEach((bouquet, index) => {
								if (index < visibleBouquets) {
									bouquet.style.display = "block";
								} else {
									bouquet.style.display = "none";
								}
							});

							if (visibleBouquets >= bouquets.length) {
								showMoreBtn.style.display = "none";
							} else {
								showMoreBtn.style.display = "block";
							}
						}

						updateVisibility();

						showMoreBtn.addEventListener("click", function() {
							visibleBouquets += 3;
							updateVisibility();
						});
					});
					</script>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
