<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Flower Shop{% endblock %}</title>
	{% block content %}
	<section id="catalog">
		<div class="container p100">
			<div class="catalog">
				<div class="title">Все букеты</div>
				<div class="catalog__block">
					<form class="recommended__elems ficb recommended__elems_first" style="justify-content: left !important;" method="post" action="{% url 'card' %}">
						{% csrf_token %}
						{% for bouquet in bouquets %}
						<div class="recommended__block" style="flex-direction: column !important;">
							<button value="{{ bouquet.pk }}" name="select_bouquet"
									style="background: url({{ bouquet.image.url }}) no-repeat center bottom / cover; width: 100%; height: 100%; border: 0px;"></button>
								<div class="recommended__block_elems ficb">
									<span class="recommended__block_intro">{{ bouquet.name }}</span>
									<span class="recommended__block_price">{{ bouquet.price }} руб</span>
								</div>
						</div>
						{% endfor %}
					</form>
					<button class="btn largeBtn catalog__btn">Показать ещё</button>
				</div>
			</div>
		</div>
	</section>
	<section id="consultation">
		<div class="container">
			<div class="consultation">
				<div class="title consultation__title">Оставьте заявку на консультацию</div>
				<form action="#" class="consultation__form">
					<input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
					<input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
					<button type="submit" class="consultation__form_btn">Отправить</button>
				</form>
			</div>
		</div>
	</section>
	{% endblock %}
</body>
</html>